.bg {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}

.clock-size {
  font-size: 10rem;
}

.container {
  height: 100vh;
}

.todos {
  min-height: 70vh;
}

i {
  color: rgba(255, 255, 255, 0.2);
}

i:hover {
  cursor: pointer;
  color: white;
}

.add-field {
  padding-top: 5px;
}

button {
  background: none;
  border: none;
}

.weather-stuff {
  min-height: 80vh;
}
